# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Visual Studio
.vs/
*.VC.db
*.VC.VC.opendb

# Rider
.idea/
*.sln.iml

# macOS
.DS_Store
*.dSYM

# Linux
*.debug

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.cache

# User-specific files
*.user
*.userosscache
*.sln.docstates
